fastapi
uvicorn
scikit-learn
pandas
numpy
joblib
pydantic
ipykernel 
implicit
pymysql
sqlalchemy
torch 
torch_geometric
matplotlib
seaborn
torchrec
xgboost 
python-dotenv
pypdf
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-pinecone
langsmith
requests
